@model ViewModel

@{
    ViewData["Title"] = "Index";

}


<script>

    function disable() {
      const check = document.getElementById("Ramdom")
      const nameTxt = document.getElementById("NameTxt")
      nameTxt.disabled = check.checked
     
    }
</script>


<head>


    <title>Acortador de Enlaces Gratis y Rápido | DocsantLink</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Story+Script&display=swap" rel="stylesheet">
    <meta name="description" content="Acorta tus enlaces de forma rápida, segura y gratuita. Personaliza tus URLs y mejora tu presencia online con nuestro acortador de links fácil de usar.">
    <meta name="robots" content="index, follow">
    <meta property="og:title" content="Acorta tus enlaces en segundos">
    <meta property="og:description" content="Rápido, seguro y gratis. Personaliza tus links.">
    <meta property="og:image" content="https://docsantlink.somee.com/Preview.jpg">
    <meta property="og:url" content="https://docsantlink.somee.com/">

</head>
<h1 class="title">Acorta tu URL </h1>



<main class="create-Container">
    <form asp-action="Create" method="post" class="form-Container">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>


        <div class="text-containers">

            <div class="form-group">
                <label name="Name" asp-for="NuevaUrl.Name"  class="control-label txt-label">Nombre</label>
                <input name="NuevaUrl.Name" placeholder="Hash" id="NameTxt" class="form-control input-text" />

            </div>
            <div class="form-group ">
                <label name="Url" asp-for="NuevaUrl.Url" class="control-label txt-label">URL</label>
                <input type="url" name="NuevaUrl.Url" placeholder="https://WWW.LINKSUPERLAR..." class="form-control input-text" />

            </div>

            <div class="form-group ">
                <input type="submit" value="Acortar URL" class="btn btn-primary main-btn" />


            </div>
        </div>


        <div class="check-containers">

            <div class="form-group ">
                <input type="checkbox" onclick="disable()" asp-for="Ramdom" name="Ramdom" id="Ramdom" class="checkbox" />
                <label name="Ramdom" for="Ramdom" class="control-label">Hash aleatorio</label>

            </div>


            <div class="form-group ">
                <input type="checkbox" asp-for="PublicLink" name="PublicLink" class="checkbox" />
                <label name="PublicLink" for="PublicLink" class="control-label">
                    Hacer Público
                </label>

            </div>  
        </div>
    </form>


</main>

<section class="error-container">
    <span asp-validation-for="NuevaUrl.Name" class="warning-text error-span"></span>
    <span asp-validation-for="NuevaUrl.Url" class="warning-text error-span"></span>
</section>

<section>
    <h2 class="subtitle">Links Públicos</h2>

    <table class="table">

        <thead>
            <tr>
                <th>
                    HASH
                </th>
                <th>
                    URL COMPLETA
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ListaUrls)
            {
                @if (item.PublicLink == true)
                {
                    <tr>
                        <td>
                        <a class="url-title" href=@Html.DisplayFor(modelItem => item.Url)> @Model.DomainName/@Html.DisplayFor(modelItem => item.Name)  </a>
                    </td>
                    <td >
                        <a class="url-title" href=@Html.DisplayFor(modelItem => item.Url)>@Html.DisplayFor(modelItem => item.Url)</a>
                    </td>
                   
                </tr>
                }
            }
        </tbody>
    </table>
</section>


