
@{
    ViewData["Title"] = "NotFound";
}

<h1>Pagina no encontrada</h1>

<span class="error-span">Lo siento, no hemos encontrado ninguna URL enlazada a tu hash, pero puedes crearlo desde nuestra pagina principal</span>
<a href="/" class="btn btn-primary home-btn">Inicio</a>

